<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e6a63f057.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <li value="page move" onclick="moveMypage()">My</li>
            <li value="page move" onclick="moveWorldpage()">World</li>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1 class="text">같이 공부할까요?</h1>
            <div class="main-logo" id="main-logo">  
                <i class="main-icon fa-solid fa-heart-pulse"></i>
                <p class="main-logo-name">wthMe</p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>