<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <li value="page move" onclick="moveMypage()">My</li>
            <li value="page move" onclick="moveWorldpage()">World</li>
        </div>
        <div class="logo">
            <div value="page move" onclick="moveMainpage()">Logo</div>
        </div>
    </nav>
    <h1>main</h1>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>