<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wthMe</title>
    <link href="MyPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e6a63f057.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <li class="my" value="page move" onclick="moveMypage()">My</li>
            <li value="page move" onclick="moveWorldpage()">World</li>
        </div>
        <div class="logo">
            <div value="page move" onclick="moveMainpage()">Logo</div>
        </div>
    </nav>    
    <aside>
        <div class="aside-box">
            <i class="fa-solid fa-user pic"></i>
            <div class="name">사용자1</div>
            <div class="barNumber">
                <p id="checked-count"></p>
                <p>/</p>
                <p id="todo-count"></p>
            </div>
            <progress id="progress" value="0" max="0"></progress>
        </div>
    </aside>
    <main>
        <div class="container">
            <div class="my-calendar">
              <div class="clicked-date">
                <div class="left-side">
                    <div class="cal-day"></div>
                    <div class="cal-date"></div>
                    <div class="todo">
                        <div class="todo-title">Todo List</div>
                        <div class="input-wrap">
                            <form action="/add_list" method="post"></form>
                                <input type="text" id="input-box" class="input-box" name="content" autocomplete="off">
                                <button type="button" id="input-button" class="input-button">INPUT</button>
                            </form>
                        </div>
                        <div id="input-list" class="input-list"></div>
                        <form action="/add_list" method="post">
                    </div>
                </div>
              </div>
              <div class="calendar-box">
                <div class="right-side">
                    <div class="calendar">
                        <div class="ctr-box">
                            <button type="button" class="btn-cal prev">
                                &#60;
                            </button>
                            <span class="cal-month"></span>
                            <span class="cal-year"></span>
                            <button type="button" class="btn-cal next">
                                &#62;
                            </button>
                        </div>
                        <table class="cal-table">
                            <thead>
                              <tr>
                                  <th>Sun</th>
                                  <th>Mon</th>
                                  <th>Tue</th>
                                  <th>Wed</th>
                                  <th>Thu</th>
                                  <th>Fri</th>
                                  <th>Sat</th>
                              </tr>
                            </thead>
                            <tbody class="cal-body"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="MyPage.js"></script>
</body>
</html>