:root{
    --beige: #f5eee6;
    --deepbeige: #dcc5ab;
    --textbeige: #b49979;
    --textdeepbeige: #897153;
    --lightpink: #f3d7ca;
    --pink: #e6a4b4;
    --pinkhover:#db8a9e;
    --deeppink: #c86b85;
    --deeppinkhover: #c05d79;
    --gray: #999999;
}
html, body{
    margin: 0;
    padding: 0;
    font-family: 'Gowun Dodum', sans-serif;
    min-height: 100% !important;
    height: 100%;
    box-sizing: border-box;
}
nav a{
    text-decoration: none;
    color: var(--deeppink);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
}
.logo{
    justify-content: center;
    text-align: center;
    width: 20%;
    font-size: 40px;
    color: var(--deeppink);
}
.menu{
    display: flex; 
    justify-content: space-around;
    width: 70%;
    list-style: none;
    font-size: 30px;
}
.menu li{
    padding: 8px 12px;
    margin: 10px;
    
}
.menu li:hover{
    background-color: var(--pinkhover);
    border-radius: 4px;
}
a:hover{
    text-decoration: none;
    color: var(--deeppinkhover);
}

aside{
    display: flex;
    padding: 30px;
    width: 20%;
    height: 100%;
    float: right;
    background-color: var(--beige);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aside-box{
    height: auto;
    width: 100%;
    display: block;
    padding: 5px;
    /* background: green; */
}
.pic{
    height: 100px;
    width: 100px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-size: 90px;
    color: var(--deepbeige);
    /* background: yellow; */
}
.name{
    padding-top: 15px;
    margin: auto;
    color: var(--textbeige);
}
.barNumber{
    display: flex;
    justify-content: right;
    font-size: 12px;
    padding: 5px 0px;
}
#progress {
    width: 100%;
    appearance: none;
}
#progress::-webkit-progress-bar {
    background:#eeeeee;
}
#progress::-webkit-progress-value {
    background: var(--deepbeige);
    background: -webkit-linear-gradient(to right, var(--beige), var(--deepbeige));
    background: linear-gradient(to right, var(--pink), var(--deeppink));

}

main{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* background-color: #2107e0; */
}

*, *:before, *:after {
    box-sizing: inherit;
}


.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
    
}

/* ======== Calendar ======== */
.my-calendar {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 5%;
    height: 90%;
    width: 90%;
    text-align: center;
    /* font-weight: 800; */
    /* cursor: default; */
    background: var(--lightpink);
    border-radius: 20px;
}
.clicked-date {
    /* float: left; */
    width: 42%;
    height: 100%;    
    background: #f3d7ca;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 0px 20px;
}
.clicked-date .cal-day {
    font-size: 24px;
    color: var(--deeppink);
}
.clicked-date .cal-date {
    font-size: 130px;
    color: var(--deeppinkhover);
}
.left-side{
    width: 60%;
}
.todo{
    width: 100%;
    display: inline-block;
}
.todo-title{
    font-size: 20px;
    font-weight: 100;
    margin: 0 0 10px 0;
    text-align: left;
    color: var(--deeppink);
}
.input-wrap{
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 10px;
}
.input-box{
    width: 90%;
    margin-right: 10px;
    height: auto; 
    background: var(--lightpink);
    color: var(--deeppink);
    line-height : normal;
    font-family: inherit;
    border: 0; 
    border-bottom: 1px dashed; 
    border-radius: 0; 
    outline-style: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none;
}
.input-button{
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    background: var(--deeppink);
    border: none;
    color: #FFFFFF;
    border-radius: 10px;
}
.input-button:hover{
    background: var(--deeppinkhover);
    color: #FFFFFF;
}
.input-list > div{
    display: block;
    font-size: 14px;
    width: 80%;
    float: left;
    color: var(--deeppink);
    text-align: left;
}
.input-list > .checked{
    color: var(--gray);
    text-decoration:line-through
}
.del-data{
    display: block;
    color: var(--textbeige);
    float: left;
    width: 15%;
    height: 3%;
    cursor: pointer;
    font-size: 10px;
    padding: 10px;
    margin: 5px;
    background: var(--beige);
    border: none;
    border-radius: 10px;
}
.right-side {
    height:100%;
    width: 100%;
    padding: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: cyan; */
    
}
.calendar-box{
    height: 100%;
    width: 58%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--beige);
}
.calendar{
    width: 100%;
    height: 100%; 
    /* background-color: gray; */
    padding: 10px;
} 
.ctr-box {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 5px;
    font-size: 25px;
    box-sizing: border-box;
    color: var(--textdeepbeige);
}
.btn-cal {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 20px;
    cursor: pointer;
    border: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--textdeepbeige);
    background: var(--beige);
}
.cal-month, .cal-year{
    padding: 5px;
}
.cal-table {
    width: 100%;
    height: 90%;
    box-sizing: content-box;
    /* background: gray; */
    table-layout: fixed;
    color: var(--textdeepbeige);
}
.cal-table th {
    width: 15%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: 900;
}
.cal-table td {
    padding: 10px;
    margin: 10px;
    height: 15%;
    width: 15%;
    font-size: 15px;
    vertical-align: middle;
    /* background: violet; */
}
.cal-table td.day {
    /* position: relative; */
    cursor: pointer;
}
.cal-table td.today {
    background: var(--deepbeige);
    border-radius: 50%;
    color: #fff;
}
.cal-table td.day-active {
    background: var(--pink);
    border-radius: 50%;
    color: #fff;
}
.cal-table td.has-event:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 80%;
    height: 4px;
    background: #FFC107;
}