<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wthMe</title>
    <link href="worldPage.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0e6a63f057.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar">
        <div class="menu">
            <li class="my" value="page move" onclick="moveMypage()">My</li>
            <li class="world" value="page move" onclick="moveWorldpage()">World</li>
        </div>
        <div class="logo">
            <div value="page move" onclick="moveMainpage()">Logo</div>
        </div>
    </nav>
    <main>
        <div class="container">
            <div class="user-box">
                <div class="inbox">
                    <i class="fa-solid fa-user pic"></i>
                    <div class="name">사용자1</div>
                    <div class="barNumber">
                        00/00
                        <!-- <p id="checked-count"></p>
                        <p>/</p>
                        <p id="todo-count"></p> -->
                    </div>
                    <progress id="progress" value="70" max="100"></progress>
                </div>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="worldPage.js"></script>
</body>
</html>